<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>02_hellomvc</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- session timeout(min), 이 서버에서 관리하는 session객체는 min분동안만 유효함을 설정 -->
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <!-- 필터 클래스 등록
  	   filter태그, filter-mapping태그가 한 쌍,
  	   filter-name태그를 공유 - 이걸로 연결됨 -->
  <filter>
  	<!-- 3. filter 이름을 찾아서 -->
  	<filter-name>LoggerFilter</filter-name>
  	<!-- 4. 해당 필터 클래스 실행 -->
  	<!-- 필터 클래스 주소 -->
  	<filter-class>common.filter.LoggerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<!-- 2. 이 filter 이름을 찾음 -->
  	<filter-name>LoggerFilter</filter-name>
  	<!-- 1. 이 url 요청이 있으면 -->
  	<!-- 어떤 요청에 이 필터를 작동시킬지 -->
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
  <!-- 발생한 예외 타입별로 에러페이지를 정할 수 있음 -->
  <exception-type>java.lang.Exception</exception-type>
  <!-- error 페이지의 위치 -->
  <location>/WEB-INF/views/common/error.jsp</location>
  </error-page>
  <!-- Resource 참조 -->
  <resource-ref>
  	<description>Mvc Application DBCP</description>
  	<res-ref-name>jdbc/myoracle</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
</web-app>